.lqcharts {
  width: 100%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
}
.lqcharts-left-side {
  width: 40%;
  min-width: 460px;
}
.lqcharts-right-side {
  padding: 0 24px;
  width: calc(60% - 40px);
  min-width: 650px;
}
.lqcharts-last-week__icon {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  font-size: 26px;
  float: left;
  margin-right: 15px;
  margin-top: -7px;
}
.lqcharts-last-week__icon_info {
  background: #89C1E4;
  color: #FFFFFF;
}
.lqcharts-last-week__stat {
  padding: 9px 9px 9px 27px;
  background: #EBEDED;
  position: relative;
  border-radius: 24px;
  color: #606060;
  font-size: 13px;
  line-height: 19px;
}
.lqcharts-last-week__stat::after {
  display: block;
  background: url("img/arrow.png");
  width: 9px;
  height: 10px;
  content: '';
  position: absolute;
  top: 13px;
  left: 11px;
}
.lqcharts-last-week__title {
  font-size: 18px;
  line-height: 25px;
  color: #132B46;
}
.lqcharts-last-week__body {
  border: 1px solid #E6E6E6;
  padding: 25px;
  margin-top: 24px;
}
.lqcharts-last-week__body-left {
  font-size: 13px;
  line-height: 19px;
  color: #999999;
  width: calc(100% - 100px);
  float: left;
  min-width: 300px;
  margin-top: 10px;
}
.lqcharts-last-week__body-left hr {
  width: 250px;
  margin: 30px 0 10px 0;
  height: 1px;
  background: #E6E6E6;
}
.lqcharts-last-week__body-right {
  float: right;
  width: 100px;
  position: relative;
}
.lqcharts-score__title {
  font-size: 18.4007px;
  line-height: 25px;
  color: #132B46;
  width: 100%;
  margin-top: 38px;
}
.lqcharts-score__title h3 {
  font-size: 13.7999px;
  line-height: 19px;
  color: #132B46;
}
.lqcharts-score__title span {
  font-size: 9.20053px;
  line-height: 13px;
  color: #808080;
}
.lqcharts-score__body {
  border: 1px solid #E6E6E6;
  padding: 17px;
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.lqcharts-score__chart {
  width: 33%;
  font-size: 16px;
  line-height: 25px;
  color: #132B46;
  text-align: center;
  min-width: 120px;
}
.lqcharts-score__chart canvas {
  width: 100px;
}
.lqcharts-score__chart-wrapper {
  width: 100px;
  margin: auto;
  position: relative;
}
.lqcharts .lqcharts-rounded-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lqcharts .lqcharts-rounded-center__title {
  font-size: 20px;
  color: #132B46;
  text-align: center;
  margin-top: -10px;
}
.lqcharts .lqcharts-rounded-center__sub {
  font-size: 10px;
  line-height: 10px;
  color: #132B46;
  height: 10px;
  margin-top: -5px;
}
.lqcharts-graph {
  border: 1px solid #E6E6E6;
  padding: 20px;
}
.lqcharts-graph__title {
  font-size: 10px;
  line-height: 13px;
  color: #808080;
}
.lqcharts-graph__title h3 {
  font-size: 14px;
  line-height: 19px;
  color: #132B46;
  margin: 0;
}
.lqcharts-graph__chart {
  height: 300px;
}
.lqcharts-graph-footer {
  border: 1px solid #E6E6E6;
  margin-top: 10px;
  padding: 10px 15px;
  font-size: 10px;
  line-height: 24px;
  color: #B3B3B3;
}
.lqcharts-graph-footer h3 {
  font-size: 13px;
  line-height: 19px;
  color: #132B46;
  margin: 0;
}
.lqcharts-graph-footer a {
  color: #B3B3B3;
  font-weight: bold;
}
.lqcharts-graph-footer i {
  font-size: 20px;
  margin-right: 10px;
}
.lqcharts-clear {
  clear: both;
  height: 1px;
}
/*# sourceMappingURL=style.css.map */